.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #3B3B3E;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding: 0px;
  margin: 0px;
  font-size: 14.4px;
  color: #3B3B3E;

}

h1, h2, h3, h4, h5, h6{
  color: #1E1E1F;
}