// Z-Index Scale
// --------------------------------------------------
$zIndex-1:    100;
$zIndex-2:    200;
$zIndex-3:    300;
$zIndex-4:    400;
$zIndex-5:    500;
$zIndex-6:    600;
$zIndex-7:    700;
$zIndex-8:    800;
$zIndex-9:    900;
$zIndex-10:   1000;

// Z-Index Applications
// --------------------------------------------------
$zIndex-1--screenForeground:        $zIndex-1;

// Color Scale
// --------------------------------------------------
$black:         #1E1E1F;
$darker-grey:   #232526;
$dark-grey:     #373B3E;
$semi-dark-grey: #434345;
$grey:          #5B5B5E;
$light-grey:    #717175;
$semi-light-grey: #909095;
$lighter-grey:  #C7C7D1;
$lightest-grey: #E0E0E1;
$super-light-grey: #F0F0F6;
$white:         #FFFFFF;

$dark-blue: #35467D;
$blue : #4A90E2;

// Font Scale
// --------------------------------------------------
$helvetica: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$type-micro:     400 .85em / 1.6em $helvetica;
$type-smallest:  500 1.0em / 1.5em $helvetica;
$type-smaller:   400 1.2em / 1.2em $helvetica;
$type-small:     500 1.2em / 1.1em $helvetica;
$type-base:      400 1.3em / 1.1em $helvetica;
$type-large:     500 1.3em / 1.1em $helvetica;
$type-larger:    700 1.3em / 1.1em $helvetica;
$type-largest:   400 1.4em / 1.1em $helvetica;

.browsehappy {
  margin: 0.2em 0;
  background: $lighter-grey;
  color: $dark-grey;
  padding: 0.2em 0;
}

body {
  padding: 0px;
  margin: 0px;
  color: $dark-grey;
}

h1, h2, h3, h4, h5, h6{
  color: $black;
}

html, body {
  background-color : $dark-grey;
}

a {
  cursor : pointer;
}
.alert {
  border-radius: 2px;
}