/* Custom page footer */

.mms-menu  footer{
  border-top:1px solid #ccc;
  margin-top:1.5em;
}

footer{
  padding : 10px 15px 5px;
  margin-bottom:0.5em;
  color: #C0C0C0;
  font-size:12px;
  line-height: 18px;
}

.powered-by{
  border-radius:3px;
  padding-left:5px;
  padding-right:5px;
  border:1px solid #ccc;
}

