/* Custom page footer */

.mms-menu  footer{
  border-top:0px solid $light-grey;
  margin-top:1.5em;
}

footer{
  padding : 10px 15px 5px;
//  padding-bottom: 13px;
  margin-bottom:0.5em;
  color: $lighter-grey;
  border-top: 0px solid $light-grey;
  margin-top: -1px;
  font-size:14px;
  line-height: 30px;
}

.powered-by{
  display: block;
  float: right;
  background-image: url('/images/mms-light.png');
  width: 25px;
  height: 30px;
  background-size: 25px 25px;
  background-repeat:no-repeat;
}

