header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 0px solid #e5e5e6;
  position:fixed;
  top:0;
  width: 100%;
  right:0px;
  left:0px;
  background-color: transparent;
  z-index: 3;

  -webkit-font-smoothing: antialiased;

  .mms-btn-menu{
    position:absolute;
    top:0;
    left:0.35em*2;
    color: #FFF;
  }

  h1{
    margin:0;
    font-size: 1.2em;
    padding  : 0.70em 0;
    text-align: center;
    color: #FFF;
  }
}

// * * * * Menu Button * * * * //
.mms-btn-menu{
  font-size: 1.4em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  display: inline-block;

  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;

  opacity: 0;
  color: #F7F7FF;
}

.mms-btn-menu:active{
  color: #F7F7FF;
  text-decoration: none;
}

.mms-btn-menu:hover{
  color: #F7F7FF;
  text-decoration: none;
}

.mms-btn-menu.gone{
  opacity: 1;
  display:none;
}

.mms-btn-menu.visible{
  opacity: 1;
  display: inline;
}