header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 0px solid #e5e5e6;
  position:fixed;
  top:0;
  width: 100%;
  right:0px;
  left:0px;
  background-color: transparent;
  z-index: 3;

  -webkit-font-smoothing: antialiased;

  .mms-btn-menu{
    position:absolute;
    top:0;
    left:0.35em*2;
    color: #FFF;
  }

  h1{
    margin:0;
    font-size: 1.2em;
    padding  : 0.70em 0;
    text-align: center;
    color: #FFF;
  }
}
