/* Custom page header */
header {
  padding-left: 15px;
  padding-right: 15px;

  border-bottom: 1px solid #e5e5e5;

  .mms-btn-menu{
    position:absolute;
    top:0;
    left:0.25em*2;
  }

  h1{
    margin:0;
    font-size: 1.4em;
    padding  : 0.50em 0;
    text-align: center;
  }
}

.mms-btn-menu{
  font-size: 1.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  display: inline-block;
}
