// * * * * Menu Navigation * * * * //
.mms-menu {
  -webkit-font-smoothing: antialiased;
  display:inline;
  background-color: #2E2D30;
  position:absolute;
  width: 80%;
  //Todo: set offset in JS
  top:0;
  right:0;
  left:-180%;
  z-index: 4;
  border-bottom: 1px solid #e5e5e6;
  min-height: 100%;

  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility:hidden; /* Chrome, Safari, Opera */
  backface-visibility:hidden;

}

.mms-menu.menu-open {
  left:0;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

// * * * * Categories List * * * * //
ul.menu-items{
  overflow: auto;
  margin:0;
  padding : 4px 0 8px;

  li{
    width: 100%;
    display: block;
    float:left;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;

    display: block;

    a{
      font-size:20px;
      line-height: 40px;
      color: #ccc;

    }

    a:hover, a:active{
      color:#fff;
      text-decoration: none;
    }

    p{
      color: #ccc;
    }
  }


  li.menu-section-title{
    color: #717175;
    line-height: 40px;

    font-size:14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
    border-top: 1px solid #5B5B5E;
  }

  li.menu-section-title.first{
    margin-top: 0px;
    border-top: 0px solid #5B5B5E;
  }
}

#main{
  background-color: #fff;
  -webkit-transition: all .2s ease-in-out;
}

#main.menu-open{
  position: absolute;
  left:80%;
  width:100%;
}
