$icon-font-path : "/bower_components/sass-bootstrap/fonts/";

body.admin, html.admin{
  background-color:$super-light-grey;
}

.header{
  background-color: $dark-grey;
  font-size: $type-small;
  color:$light-grey;
  height:40px;


  ul.nav li{
    display: inline-block;
    float:left;
  }

  ul.nav li a{
      display: block;
      width: 100%;
      padding: 0 15px;
    text-transform: capitalize;
      line-height: 40px;
      font-size: 13px;
      letter-spacing: 0px;
      font-weight: 500;
      white-space: nowrap;
      text-decoration: none !important;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-smoothing: always;
      text-rendering: optimizeLegibility;
      color: $lighter-grey;
      border-right: 1px solid #4d4d4d;
      transition:all 0.15s ease-in-out;
  }

  ul.nav li a:hover{
    background-color: $semi-dark-grey;
    color: $lightest-grey;

  }

  ul.nav li a.active{
    background-color: $grey;
    color: #FFF;
    border-right: 1px solid transparent;
  }

  ul.nav li:last-child a{
    margin-right:0px;
  }


  ul.nav li:first-child a{
    border-left: 1px solid #4d4d4d;
  }

  ul.nav li:first-child a.active{
    border-left: 1px solid transparent;
  }

    a.logo{
      display: inline-block;
      float: left;
      background-image: url("/images/mms-header.png");
      width: 23px;
      height: 40px;
      background-size: 22px 23px;
      background-repeat: no-repeat;
      margin: 9px;
      border-left: 0px solid #4d4d4d;
      border-right: 0px solid #4d4d4d;
      transition: all 0.15s ease-in-out;

    }

  a.logo:hover{

  }

}

.action-bar{
  font-size:22px;
  line-height: 30px;
  font-weight: 300;
  padding: 15px;
  text-align: right;
//  margin-bottom: 15px;


  a{
    margin-left: 20px;
  }

  a.text{
    line-height: 30px;
    font-size:14px;
    font-weight:400;
  }


}

.info-muted{
  color:$semi-light-grey;
}

.search-container{
  padding-right:15px;
  padding-left:15px;
}

input.search{
  display: block;
  width : 100%;
  border-radius: 0px;

}

.members-container{
  width: 100%;
  height:100%;
  min-height: 100%;

  position: absolute;
  left:0px;

  .list-container{
    float:left;
    width:40%;
    position: relative;
    padding-bottom: 10px;

  }

  .detail-container{
    float:left;
    width: 60%;
    position: relative;
    padding-bottom: 10px;
  }

  .list{
    margin-top: 10px;
    margin-left:10px;
    background-color: $white;
  }

  .detail{
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;
    background-color: $white;
    padding-bottom: 15px;
  }

  .members{

    .category:first-child{
      margin-top:15px;
    }

    .category{
      border-bottom: 1px solid $super-light-grey;
      border-top: 1px solid $super-light-grey;

      padding      : 5px 15px;
      background-color: rgba(87, 217, 87, 0.10);
      color: $grey;
      font-weight: 500;
    }

    .member{
      padding      : 20px 15px;
      border-bottom: 1px solid $super-light-grey;

      .line{

      }

      .email{
        font-size:13px;
        color:$semi-light-grey;
      }

      .name{
        font-size: 16px;
        font-weight: 600;
      }

      .date{
        color: $semi-light-grey;
      }

      .post{
        padding-top: 5px;
      }
    }

  }


  .member:last-child{
    border-bottom: 0px;
  }

  .member.selected{
    background-color: rgba(248, 248, 254, 0.63);
  }

  .detail{

    .name{
      vertical-align: text-bottom;
      font-size:18px;
      font-weight: 600;
      padding-left:15px;
      padding-right: 15px;
      padding-top:15px;
    }

    .date{
      color: $semi-light-grey;
      float:right;
      font-size:14px;
      font-weight: 400;
    }

    .description{
      margin-top: 15px;
      padding-left:15px;
      padding-right: 15px;
      margin-bottom: 15px;
      line-height: 1.4em;
    }

    .info{
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left:15px;
      padding-right: 15px;

//      border-top:1px solid $lightest-grey;
//      border-bottom: 1px solid $lightest-grey;
//
//      background-color: rgba(248, 248, 254, 0.63);


      border-bottom: 1px solid #F0F0F6;
      border-top: 1px solid #F0F0F6;
      background-color: rgba(87, 217, 87, 0.1);
      span{
        display: inline-block;
        width: 33.333%;
        float: left;
        text-align: center;
        color: $grey;
        min-height: 1px;
        font-weight: 500;
      }
    }


    .categories{
      padding-left:15px;
      padding-right: 15px;
      margin-top: 5px;
      margin-bottom:5px;
      .category{
        background-color: #4A90E2;
        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
        color: #FFF;
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
      }
    }

  }

  .header-container{
    width: 100%;
    min-height: 200px;
    position: relative;
    margin-bottom: 30px;
    border-bottom:1px solid $lightest-grey;

    img.header{
      width: 100%;
      height:auto;
    }
  }

  .profile-container{
    width: 75px;
    height: 75px;
    position: absolute;
    bottom:-30px;
    left:75px;

    img.profile{
      width: 75px;
      height: 75px;
      border:1px solid $lightest-grey;
    }

  }
}