.browsehappy {
  margin: 0.2em 0;
  background: #c7c7d1;
  color: #373b3e;
  padding: 0.2em 0; }

body {
  padding: 0px;
  margin: 0px;
  color: #373b3e; }

h1, h2, h3, h4, h5, h6 {
  color: #1e1e1f; }

html, body {
  background-color: #373b3e; }

a {
  cursor: pointer; }

.alert {
  border-radius: 2px; }

body.admin, html.admin {
  background-color: #f0f0f6; }

.header {
  background-color: #373b3e;
  font-size: 500 1.2em/1.1em "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #717175;
  height: 40px; }
  .header ul.nav li {
    display: inline-block;
    float: left; }
  .header ul.nav li a {
    display: block;
    width: 100%;
    padding: 0 15px;
    text-transform: capitalize;
    line-height: 40px;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: always;
    text-rendering: optimizeLegibility;
    color: #c7c7d1;
    border-right: 1px solid #4d4d4d;
    transition: all 0.15s ease-in-out; }
  .header ul.nav li a:hover {
    background-color: #434345;
    color: #e0e0e1; }
  .header ul.nav li a.active {
    background-color: #5b5b5e;
    color: #FFF;
    border-right: 1px solid transparent; }
  .header ul.nav li:last-child a {
    margin-right: 0px; }
  .header ul.nav li:first-child a {
    border-left: 1px solid #4d4d4d; }
  .header ul.nav li:first-child a.active {
    border-left: 1px solid transparent; }
  .header a.logo {
    display: inline-block;
    float: left;
    background-image: url("/images/mms-header.png");
    width: 23px;
    height: 40px;
    background-size: 22px 23px;
    background-repeat: no-repeat;
    margin: 9px;
    border-left: 0px solid #4d4d4d;
    border-right: 0px solid #4d4d4d;
    transition: all 0.15s ease-in-out; }

.action-bar {
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  padding: 15px;
  text-align: right; }
  .action-bar a {
    margin-left: 20px; }
  .action-bar a.text {
    line-height: 30px;
    font-size: 14px;
    font-weight: 400; }

.info-muted {
  color: #909095; }

.search-container {
  padding-right: 15px;
  padding-left: 15px; }

input.search {
  display: block;
  width: 100%;
  border-radius: 0px; }

.members-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  left: 0px; }
  .members-container .list-container {
    float: left;
    width: 40%;
    position: relative;
    padding-bottom: 10px; }
  .members-container .detail-container {
    float: left;
    width: 60%;
    position: relative;
    padding-bottom: 10px; }
  .members-container .list-narrow-container {
    float: left;
    width: 30%;
    position: relative;
    padding-bottom: 10px; }
  .members-container .detail-wide-container {
    float: left;
    width: 70%;
    position: relative;
    padding-bottom: 10px; }
  .members-container .profile-pg-container {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 10px; }
  .members-container .list {
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    border: 1px solid #e0e0e1; }
  .members-container .detail {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding-bottom: 15px;
    border: 1px solid #e0e0e1; }
  .members-container .detail-joined {
    margin-top: 10px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid #e0e0e1;
    padding-bottom: 15px; }
  .members-container .members .category:first-child {
    margin-top: 15px; }
  .members-container .members .category {
    padding: 5px 15px;
    background-color: #4A90E2;
    color: #FFF;
    font-weight: 400; }
  .members-container .members .member {
    cursor: pointer;
    padding: 20px 15px;
    border-bottom: 1px solid #f0f0f6; }
    .members-container .members .member .email {
      font-size: 13px;
      color: #909095; }
    .members-container .members .member .name {
      font-size: 16px;
      font-weight: 600; }
    .members-container .members .member .date {
      color: #909095; }
    .members-container .members .member .post {
      padding-top: 5px; }
    .members-container .members .member .title {
      color: #909095;
      font-size: 14px;
      font-weight: 400; }
  .members-container .member:last-child {
    border-bottom: 0px; }
  .members-container .member.selected {
    background-color: rgba(248, 248, 254, 0.63); }
    .members-container .member.selected .title {
      color: #373b3e; }
  .members-container .detail .name {
    vertical-align: text-bottom;
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px; }
  .members-container .detail .date {
    color: #909095;
    float: right;
    font-size: 14px;
    font-weight: 400; }
  .members-container .detail .description {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    line-height: 1.4em; }
  .members-container .detail .info {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #F0F0F6;
    border-top: 1px solid #F0F0F6;
    background-color: rgba(87, 217, 87, 0.1); }
    .members-container .detail .info span {
      display: inline-block;
      width: 33.333%;
      float: left;
      text-align: center;
      color: #5b5b5e;
      min-height: 1px;
      font-weight: 500; }
  .members-container .detail .categories {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px; }
    .members-container .detail .categories .category {
      background-color: #4A90E2;
      padding: 3px;
      padding-left: 5px;
      padding-right: 5px;
      color: #FFF;
      font-weight: 400;
      font-size: 14px;
      text-transform: capitalize; }
  .members-container .header-container {
    width: 100%;
    max-height: 250px;
    min-height: 50px;
    position: relative;
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e1;
    overflow: hidden; }
    .members-container .header-container img.header {
      width: 100%;
      height: auto; }
  .members-container .profile-container {
    position: relative;
    height: 5px;
    width: 100%;
    display: block; }
    .members-container .profile-container img.profile {
      position: absolute;
      top: -70px;
      left: 15px;
      width: 75px;
      height: 75px;
      border: 1px solid #e0e0e1;
      border-radius: 50%; }

.stories article {
  padding: 20px 15px;
  border-bottom: 1px solid #f0f0f6; }
  .stories article img {
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e1;
    border-radius: 50%; }
  .stories article h1 {
    vertical-align: text-bottom;
    font-size: 16px;
    font-weight: 600;
    padding-right: 15px;
    margin-top: 0px; }
  .stories article .details {
    color: #909095; }
    .stories article .details a {
      color: #909095; }
.stories article:last-child {
  border-bottom: 0px solid #f0f0f6; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset; }

.btn.btn-save {
  background-color: #4a90e2;
  color: white;
  min-height: 38px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300; }

.btn.btn-cancel {
  background-color: #717175;
  color: white;
  min-height: 38px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300; }
