.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #3B3B3E;
  padding: 0.2em 0; }

/* Space out content a bit */
body {
  padding: 0px;
  margin: 0px;
  color: #3B3B3E; }

h1, h2, h3, h4, h5, h6 {
  color: #1E1E1F; }

header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e5e5e6;
  position: fixed;
  top: 0;
  width: 100%;
  right: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 3; }
  header .mms-btn-menu {
    position: absolute;
    top: 0;
    left: 0.7em; }
  header h1 {
    margin: 0;
    font-size: 1.2em;
    padding: 0.70em 0;
    text-align: center; }

.mms-btn-menu {
  font-size: 1.4em;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  display: inline-block;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 0;
  color: #5B5B5E; }

.mms-btn-menu:active {
  color: #5B5B5E;
  text-decoration: none; }

.mms-btn-menu:hover {
  color: #3B3B3E;
  text-decoration: none; }

.mms-btn-menu.gone {
  opacity: 1;
  display: none; }

.mms-btn-menu.visible {
  opacity: 1;
  display: inline; }

nav.mms-menu {
  display: inline;
  padding-top: 3em;
  background-color: #FAFAFC;
  position: absolute;
  width: 100%;
  top: -2000px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  border-bottom: 1px solid #e5e5e6;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden; }
  nav.mms-menu footer h3 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px; }

nav.mms-menu.open {
  top: 0;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0); }

ul.categories {
  overflow: auto;
  margin: 0;
  padding: 4px 0 8px; }
  ul.categories li {
    width: 50%;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 5px 10px; }
    ul.categories li a {
      border: 1px solid #eee;
      background-color: #FFF;
      border-radius: 3px;
      color: #333;
      font-weight: bold;
      display: block;
      padding-bottom: 10px; }
      ul.categories li a .icon {
        font-size: 48px;
        color: #428bca; }
    ul.categories li a:hover, ul.categories li a:active {
      text-decoration: none;
      background-color: #FAFAFC;
      border: 1px solid #428bca; }
  ul.categories li:nth-child(odd) {
    padding-right: 5px; }
  ul.categories li:nth-child(even) {
    padding-left: 5px; }

section.about {
  padding-left: 1em;
  padding-right: 1em;
  border-top: 1px solid #ddd; }
  section.about h1 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.8em;
    line-height: 2em; }
  section.about article.description {
    line-height: 1.45em;
    font-size: 1em;
    color: #696969; }
    section.about article.description p {
      padding: 0px;
      margin: 0px;
      padding-bottom: 1em; }

/* Custom page footer */
.mms-menu footer {
  border-top: 1px solid #ccc;
  margin-top: 1.5em; }

footer {
  padding: 10px 15px 5px;
  margin-bottom: 0.5em;
  color: #C0C0C0;
  border-top: 1px solid #ddd;
  margin-top: -1px;
  font-size: 12px;
  line-height: 18px; }

.powered-by {
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ccc; }

a {
  cursor: pointer; }

.angular-google-map-container {
  height: 260px; }

div.current-story-container {
  width: 100%;
  display: block;
  position: absolute;
  top: 2.8em;
  left: 0;
  right: 0;
  padding: 0.5em; }
  div.current-story-container .current-story {
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #ccc; }
    div.current-story-container .current-story .hours {
      color: #1E1E1F; }
      div.current-story-container .current-story .hours .status {
        color: #5B5B5E; }

.member section.stories {
  background-color: #F8F8F8; }

.current-story {
  position: relative;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  width: 100%;
  font-size: 1.1em;
  padding: 0.3em 0.5em 0.5em; }
  .current-story .profile {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    border-radius: 100%; }
  .current-story h1 {
    margin: 0;
    font-size: 1.1em;
    font-family: HelveticaNeue-Medium;
    color: #1E1E1F;
    line-height: 1.5em;
    padding: 0 0 0 65px; }
  .current-story p {
    margin: 0px;
    padding: 0px;
    padding-left: 65px; }

.member-actions {
  padding: 7px 1em;
  font-size: 1em;
  text-align: center;
  border-bottom: 1px solid #ccc; }
  .member-actions a {
    display: inline-block;
    padding: 3px 0.75em;
    background-color: #428bca;
    border-radius: 3px;
    color: #FFF;
    text-transform: capitalize; }
  .member-actions a:hover, .member-actions a:active {
    text-decoration: none;
    color: #FFF;
    background-color: #2a6496; }

section.categories {
  line-height: 2.2em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: #F8F8F8; }
  section.categories a {
    margin-right: 1em;
    color: #999; }
  section.categories a:last-child {
    margin-right: 0em; }
  section.categories a.selected {
    color: #428bca;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid #428bca; }
  section.categories a.selected:hover, section.categories a.selected:focus {
    border-bottom: 3px solid #2a6496; }

section.stories {
  width: 100%;
  padding-left: 1em; }
  section.stories article {
    padding: 0.25em 1em 0.35em;
    border-bottom: 1px solid #ccc; }
    section.stories article h1 {
      margin: 0;
      padding: 0;
      font-size: 1em;
      line-height: 2em; }
    section.stories article p {
      margin: 0;
      padding: 0;
      font-size: 1em;
      line-height: 1.5em; }
    section.stories article p.details {
      font-size: 0.8em;
      line-height: 2em;
      color: #777; }
