$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import "base";
@import "header";
@import "footer";


nav.mms-menu {
  background-color: #333;
  color:#fff;
  left:-300px;
  position:absolute;
  width: 100%;
  max-width: 300px;
  height:100%;
  top:0px;
}

nav.mms-menu.open {
  left:0px;
}











/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing{
    padding-left: 15px;
    padding-right: 15px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
//  padding-top: 3em;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.angular-google-map-container {
  z-index: 1;
  position: absolute;
  top:0;
  right:0;
  width: 100%;
  height: 400px; }