$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

//@import 'sass-bootstrap/lib/bootstrap';
@import "base";
@import "header";
@import "menu";
@import "footer";


.angular-google-map-container {
  height: 340px;
}

footer{
  color: #C0C0C0;
  font-size:12px;
  line-height: 18px;
}

.powered-by{
  border-radius:3px;
  padding-left:5px;
  padding-right:5px;
  border:1px solid #ddd;
}

