.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #3B3B3E;
  padding: 0.2em 0; }

/* Space out content a bit */
body {
  padding: 0px;
  margin: 0px;
  font-size: medium;
  color: #3B3B3E; }

h1, h2, h3, h4, h5, h6 {
  color: #1E1E1F; }

header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e5e5e6;
  position: absolute;
  top: 0;
  width: 100%;
  right: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 3; }
  header .mms-btn-menu {
    position: absolute;
    top: 0;
    left: 0.7em; }
  header h1 {
    margin: 0;
    font-size: 1.2em;
    padding: 0.60em 0;
    text-align: center; }

.mms-btn-menu {
  font-size: 1.4em;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  display: inline-block;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 0;
  color: #5B5B5E; }

.mms-btn-menu:active {
  color: #5B5B5E;
  text-decoration: none; }

.mms-btn-menu:hover {
  color: #3B3B3E;
  text-decoration: none; }

.mms-btn-menu.visible {
  opacity: 1; }

nav.mms-menu {
  padding-top: 3em;
  background-color: #FAFAFC;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  top: -100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  border-bottom: 1px solid #e5e5e6;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden; }
  nav.mms-menu footer h3 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px; }

nav.mms-menu.open {
  top: 0;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0); }

ul.categories {
  overflow: auto;
  margin: 0;
  padding: 4px 0 8px; }
  ul.categories li {
    width: 50%;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 5px 10px; }
    ul.categories li a {
      background-color: #23719F;
      border-radius: 3px;
      color: #FFF;
      font-weight: bold;
      display: block;
      padding-bottom: 10px; }
      ul.categories li a .icon {
        font-size: 48px;
        color: #E9E3F6; }
    ul.categories li a:hover, ul.categories li a:active {
      text-decoration: none;
      background-color: #1D5C82; }
  ul.categories li:nth-child(odd) {
    padding-right: 5px; }
  ul.categories li:nth-child(even) {
    padding-left: 5px; }

/* Custom page footer */
footer {
  padding: 10px 15px 5px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

.angular-google-map-container {
  height: 400px; }
