$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "base";
@import "header";
@import "menu";
@import "footer";

a{
  cursor: pointer;
}

.angular-google-map-container {
  height: 260px;
}

div.current-story-container{

  width: 100%;
  display:block;
  position:absolute;
  top:2.8em;
  left:0;
  right:0;

  padding:0.5em;

  .current-story{
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #ccc;

    .hours{
      color:#1E1E1F;

      .status{
        color:#5B5B5E;
      }
    }

  }
}

.member section.stories{
  background-color: #F8F8F8;
}

.current-story{
  position:relative;

  border-bottom: 1px solid #ccc;


  display:inline-block;
  width: 100%;
  font-size: 1.1em;

  padding : 0.3em 0.5em 0.5em;

  .profile{
    position:absolute;
    left:0.5em;
    top:0.5em;

    border-radius: 100%;

  }

  h1{
    margin:0;
    font-size: 1.1em;
    font-family: HelveticaNeue-Medium;
    color: #1E1E1F;
    line-height: 1.5em;
    padding : 0 0 0 65px;

  }

  p{
    margin:0px;
    padding:0px;
    padding-left:65px;

  }
}

.member-actions{

  padding  : 7px 1em;
  font-size: 1em;
  text-align: center;
  border-bottom: 1px solid #ccc;
//  background-color: #DFDFDF;

  a{
    display: inline-block;
    padding         : 3px 0.75em;
    background-color: #428bca;
    border-radius: 3px;
    color:#FFF;
    text-transform: capitalize;
  }

  a:hover, a:active{
    text-decoration: none;
    color:#FFF;
    background-color: #2a6496;

  }

}



section.categories{
  line-height: 2.2em;
  padding-left:1em;
  padding-right:1em;
  text-align: left;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: #F8F8F8;
  a{
    margin-right:1em;
    color: #999;
    //    display:block;
//    width: 100%;
  }
  a:last-child{
    margin-right:0em;
  }

  a.selected{
    color:#428bca;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid #428bca;
  }

  a.selected:hover, a.selected:focus{
    border-bottom: 3px solid #2a6496;
  }
}

section.stories{
  width: 100%;
  padding-left:1em;

  article{
    padding      : 0.25em 1em 0.35em;

    border-bottom: 1px solid #ccc;

    h1{
      margin:0;
      padding:0;
      font-size:1em;
      line-height: 2em;
    }

    p{
      margin:0;
      padding:0;
      font-size:1em;
      line-height: 1.5em;
    }

    p.content{

    }

    p.details{
      font-size:0.8em;
      line-height: 2em;
      color:#777;
    }

  }
}

