
<!--<table class="table table-hover">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>Name</th>-->
    <!--<th>Email</th>-->
    <!--<th>Last Post</th>-->
    <!--<th></th>-->
    <!--<th>Status</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr>-->

  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->

<div class="members-container">
  <div class="list-container">
    <div class="list">
      <div class="action-bar">
        <span style="float:left;"> Members</span>
        <a class="text">Add Member</a>
        <a class="text">Add Category</a>
        <a class="btn btn-default"><i class="fa fa-lock"></i></a>
      </div>

      <div class="search-container">
        <input class="form-control search" type="search" placeholder="Search"/>
      </div>

      <div class="members">

        <div class="category">
          Eat Local
        </div>

        <div class="member selected">
          <div class="line">
            <span class="name">Morgantown Brewing Co</span>
            <span class="date">Sept 27</span>
          </div>
          <div class="line">
            <span class="email">contact@morgantownbrewing.com</span>
          </div>
          <div class="line">
            <div class="post">Oktoberfest is today! Join us for beer, fun and games in our parking lot! 2nd annual homebrew competition starts at noon. Prost!</div>
          </div>
        </div> <!--End member-->

        <div class="member">
          <div class="line">
            <span class="name">Flying Fish</span>
            <span class="date">June 5</span>
          </div>
          <div class="line">
            <span class="email">flyingfishwv@gmail.com</span>
          </div>
          <div class="line">
            <div class="post">
              Welcome to our friends from Pathfinder of West Virginia tonight for the re release of the Pathfinder British Pale Ale! Cheers friends!
            </div>

          </div>
        </div> <!--End member-->





      </div> <!--End members-->

    </div><!--End list-->

  </div>

  <div class="detail-container">
    <div class="detail">
      <div class="name">
        Morgantown Brewing Co
        <span class="date">
          Last Update Sept 27, 2014
        </span>
      </div>
      <div class="categories">
        <span class="category">
          Eat Local
        </span>
      </div>
      <div class="description">
        MBC offers a unique dining and micro-brewery experience by commemorating the days of old; a time when hard work and grounded values were the norm.
      </div>
      <div class="info">
        <span>
          <i class="fa fa-globe"></i> morgantownbrewing.com
        </span>
        <span>
          <i class="fa fa-envelope"></i> contact@morgantownbrewing.com
        </span>
        <span>
          <i class="fa fa-phone"></i> (304) 610-3672
        </span>
        <div class="spacer" style="clear: both;"></div>

      </div>


    </div>
  </div>
</div>