<div class="members-container">

  <div class="list-container">
    <div class="list">
      <div class="action-bar">
        <span style="float:left;"> Members</span>
        <a class="text">Add Member</a>
        <a class="text">Add Category</a>
        <a class="btn btn-default" tooltip-placement="bottom" tooltip="Open registration"><i class="fa fa-lock"></i></a>
      </div>
      <div class="search-container">
        <input class="form-control search" type="search" placeholder="Search" ng-model="searchText"/>
      </div>
      <div class="members">
        <div class="category">
          Eat Local
        </div>
        <div class="member" ng-repeat="member in members | filter:searchText" ng-click="select($index)" ng-class="{'selected':member.selected}">
          <div class="line">
            <span class="name">{{member.name}}</span>
          </div>
          <div class="line">
            <span class="email">{{member.email}}</span>
          </div>
          <div class="line">
            <div class="post">
              <span class="date">{{member.date}} •</span>
              {{member.firstPost}}
            </div>
          </div>
        </div> <!--End member-->
      </div> <!--End members-->
    </div><!--End list-->

  </div>
  <div class="detail-container" ng-class="{'active':detailOpen()}">
    <div class="detail">
      <div class="header-container">
        <img class="header" src="http://www.morgantownbrewing.com/uploads/1/3/0/1/13016045/453363739_orig.jpg">
      </div>
      <div class="profile-container">
        <img class="profile" src="https://pbs.twimg.com/profile_images/481581706156077058/VDkJuMt7_400x400.png">
      </div>
      <div class="name">
        Morgantown Brewing Co
        <span class="date">
          Last Update Sept 27, 2014
        </span>
      </div>
      <div class="categories">
        <span class="category">
          Eat Local
        </span>
      </div>
      <div class="description">
        MBC offers a unique dining and micro-brewery experience by commemorating the days of old; a time when hard work and grounded values were the norm.
      </div>
      <div class="info">
        <span>
          <i class="fa fa-globe"></i> morgantownbrewing.com
        </span>
        <span>
          <i class="fa fa-envelope"></i> contact@mobrewco.com
        </span>
        <span>
          <i class="fa fa-phone"></i> (304) 610-3672
        </span>
        <div class="spacer" style="clear: both;"></div>

      </div>

      <section class="stories">

        <article class="expanded">
          <h1 class="member">MorgantownBrewingCo</h1>
          <p class="content" style="margin-top:5px;">
            Oktoberfest is today! Join us for beer, fun and games in our parking lot! 2nd annual homebrew competition starts at noon. Prost!          </p>
          <div class="details ">12:18 PM • 27 Sept 2014 - <a>Source</a>
            <span style="float: right;">
            <a> <i class="fa fa-volume-off"></i> Mute</a>
              </span>
          </div>
        </article>

        <article class="expanded">
          <h1 class="member">MorgantownBrewingCo</h1>
          <p class="content" style="margin-bottom: 5px;">NEW ON TAP THIS FRIDAY! Our First Shift Coffee Porter! Need something to bring you out of that long hibernation?... <a href="http://fb.me/1B8sdsOAq">http://fb.me/1B8sdsOAq </a></p>
          <div class="details ">12:18 PM • 7 Jun 2014 - <a>Source</a>
            <span style="float: right;">
            <a> <i class="fa fa-volume-off"></i> Mute</a>
              </span>
          </div>
        </article>

        <article class="expanded">
          <h1 class="member">MorgantownBrewingCo</h1>
          <p class="content" style="margin-bottom: 5px;">
            Fun at Mountaineer Brewfest in Wheeling! — at Wheeling Heritage Port http://fb.me/2UBb4mMJd
          </p>
          <div class="details ">12:18 PM • 4 Jun 2014 - <a>Source</a>
            <span style="float: right;">
            <a> <i class="fa fa-volume-off"></i> Mute</a>
              </span>
          </div>
        </article>

      </section>


    </div>
  </div>
</div>