<div class="members-container">

  <div class="list-narrow-container">
    <div class="list">
      <div class="members">

        <div class="member" ng-click="select('profile')" ng-class="isSelected('profile')">
          <div class="line">
            <span class="title">Profile</span>
          </div>

        </div>
        <!--End member-->

        <div class="member" ng-click="select('stories')" ng-class="isSelected('stories')">
          <div class="line">
            <span class="title">Stories</span>
          </div>

        </div>
        <!--End member-->

      </div>
      <!--End members-->

    </div>
    <!--End list-->
  </div>

  <div class="detail-wide-container" ng-show="show('profile')">
    <div class="detail-joined">
      <div class="header-container">
        <img class="header" src="http://www.morgantownbrewing.com/uploads/1/3/0/1/13016045/453363739_orig.jpg">


      </div>
      <div class="profile-container">
        <img class="profile" src="https://pbs.twimg.com/profile_images/481581706156077058/VDkJuMt7_400x400.png">
      </div>
      <div class="form" style="padding-left: 105px; padding-right: 15px;">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" value="Morgantown Brewing Co">

          <p class="help-block">
            Enter the name you want to be known by.
          </p>
        </div>

        <div class="form-group">
          <label>Phone Number</label>
          <input class="form-control" type="text" value="(304) 610-3672">

          <p class="help-block">
            The phone number entered here will be displayed publicly.
          </p>
        </div>


        <div class="form-group">
          <label>Contact Email</label>
          <input class="form-control" type="email" value="contact@mobrewco.com">

          <p class="help-block">
            The address entered will be displayed publicly and used to recover account information.
          </p>
        </div>


        <div class="form-group">
          <label>Website</label>
          <input class="form-control" type="text" value="morgantownbrewing.com">

          <p class="help-block">
            If you have a website, enter the address here.
          </p>
        </div>

        <div class="form-group">
          <label>Bio</label>
          <textarea class="form-control">MBC offers a unique dining and micro-brewery experience by commemorating the
            days of old; a time when hard work and grounded values were the norm.
          </textarea>

          <p class="help-block">
            Enter a bit of information about you.
          </p>
        </div>

        <div style="text-align: right;">
          <button type="button" class="btn btn-cancel " ng-click="cancel()">Cancel</button>
          <button type="button" class="btn btn-save " ng-click="save()">Save</button>

          <div class="spacer" style="clear: both;"></div>

        </div>


      </div>
    </div>
  </div>

  <div class="detail-wide-container" ng-show="show('stories')">
    <div class="detail-joined">
      <section class="stories">

        <article class="expanded">
          <h1 class="member">MorgantownBrewingCo</h1>

          <p class="content" style="margin-top:5px;">
            Oktoberfest is today! Join us for beer, fun and games in our parking lot! 2nd annual homebrew competition
            starts at noon. Prost! </p>

          <div class="details ">12:18 PM • 27 Sept 2014 - <a>Source</a>
            <span style="float: right;">
            <a> <i class="fa fa-volume-off"></i> Mute</a>
              </span>
          </div>
        </article>

        <article class="expanded">
          <h1 class="member">MorgantownBrewingCo</h1>

          <p class="content" style="margin-bottom: 5px;">NEW ON TAP THIS FRIDAY! Our First Shift Coffee Porter! Need
            something to bring you out of that long hibernation?... <a href="http://fb.me/1B8sdsOAq">http://fb.me/1B8sdsOAq </a>
          </p>

          <div class="details ">12:18 PM • 7 Jun 2014 - <a>Source</a>
            <span style="float: right;">
            <a> <i class="fa fa-volume-off"></i> Mute</a>
              </span>
          </div>
        </article>

        <article class="expanded">
          <h1 class="member">MorgantownBrewingCo</h1>

          <p class="content" style="margin-bottom: 5px;">
            Fun at Mountaineer Brewfest in Wheeling! — at Wheeling Heritage Port http://fb.me/2UBb4mMJd
          </p>

          <div class="details ">12:18 PM • 4 Jun 2014 - <a>Source</a>
            <span style="float: right;">
            <a> <i class="fa fa-volume-off"></i> Mute</a>
              </span>
          </div>
        </article>

      </section>
    </div>
  </div>

</div>