<div class="members-container">

  <div class="list-narrow-container">
    <div class="list">
      <div class="members">

        <div class="member" ng-click="select('password')" ng-class="isSelected('password')">
          <div class="line">
            <span class="title">Change Password</span>
          </div>

        </div>


        <div class="member" ng-click="select('accounts')" ng-class="isSelected('accounts')">
          <div class="line">
            <span class="title">Connected Accounts</span>
          </div>

        </div>
        <!--End member-->
      </div>
      <!--End members-->

    </div>
    <!--End list-->
  </div>

  <div class="detail-wide-container" ng-show="show('password')">
    <div class="detail-joined">

      <div class="form" style="padding-left: 15px; max-width: 500px;">
        <h2>Change Password</h2>
        <div class="form-group">
          <label>Old Password</label>
          <input class="form-control" type="password" value="">
        </div>

        <div class="form-group">
          <label>New Password</label>
          <input class="form-control" type="password" value="">
        </div>


        <div class="form-group">
          <label>New Password (Confirm)</label>
          <input class="form-control" type="password" value="">
        </div>

        <div style="text-align: right;">
          <button type="button" class="btn btn-save " ng-click="save()">Change Password</button>

          <div class="spacer" style="clear: both;"></div>

        </div>

      </div>
    </div>
  </div>

  <div class="detail-wide-container" ng-show="show('accounts')">
    <div class="detail-joined" style="  padding-left: 15px; padding-right: 15px;">
      <div class="row">
        <div class="col-xs-4 account">
            <span class="network twitter">
              <i class="fa fa-twitter-square"></i>
            </span>
          <br>

          <button class="btn btn-cancel">Disconnect</button>
        </div>
        <div class="col-xs-4 account">
            <span class="network facebook">
              <i class="fa fa-facebook-square"></i>
            </span>
          <br>

          <button class="btn btn-save">Connect</button>
        </div>

        <div class="col-xs-4 account">
            <span class="network rss">
              <i class="fa fa-rss-square"></i>
            </span>
          <br>
          <button class="btn btn-save">Connect</button>
        </div>
      </div>
    </div>
  </div>

</div>