<div class="top-story-image" ng-show="topStory.type() == 'image'">
  <img ng-src="{{topStory.images[0]}}">
</div>

<google-map
    ng-show="topStory.type() == 'location'"
    center="topStory.location.center"
    zoom="map.config.zoom"
    draggable='false'
    zoomable="false"
    options="map.config.options"
    refresh="map.refresh">
</google-map>

<google-map
    ng-show="topStory.type() == 'text'"
    center="map.config.center"
    zoom="map.config.zoom"
    draggable='false'
    zoomable="false"
    options="map.config.options"
    refresh="map.refresh">
</google-map>

<div class="top-story-container">
  <div class="top-story-overlay">

    <article class="featured">
      <span class="category" ng-repeat="categoryId in categoryIds">{{}}</span>
      <h1>{{topStory.memberName}}</h1>
      <p class="description" ng-bind-html="topStory.body"></p>

      <hr>

      <p class="details">
        <span class="status">
          <span ng-repeat="tag in member.hashtags">{{tag}} </span>
        </span>
        <span class="metadata">

        </span>
      </p>

      <p class="date">
        {{topStory.created | date:'h:mm a • d MMM y'}} <a class="pull-right source" ng-href="{{topStory.sourceUrl}}">{{topStory.feedType}}</a>
      </p>

      <div class="to-right">
        <i class="fa fa-angle-right"></i>
      </div>
    </article>

  </div>
</div>

<section class="categories" ng-show="categories.length">
  <a ng-repeat="category in categories | limitTo:3">{{category.name}}</a>
  <a>More</a>
</section>

<section class="stories">

  <article ng-repeat="story in stories" ng-click="setTopStory($index)" ng-class="storyClass($index)" class="expanded">
    <img class="profile" ng-src="{{story.image}}" width="40px">
    <h1 class="member">{{story.memberName}}</h1>
    <p class="content" ng-bind-html="story.body"></p>
    <div class="details">{{story.created | date:'h:mm a • d MMM y'}} <a style="float:right;" ng-href="{{story.sourceUrl}}">Source</a></div>
  </article>

</section>