<google-map
    center="map.config.center"
    zoom="map.config.zoom"
    draggable='false'
    zoomable="false"
    options="map.config.options"
    refresh="map.refresh">
    <marker coords="map.config.center" icon="'/images/location.png'" idKey="1">
    </marker>
</google-map>


<div class="current-story-container" style="background-image: url('https://pbs.twimg.com/media/BsxILezCcAADg6q.jpg'); background-size: cover; background-position: center center;">
  <div class="current-story">
    <a href="#/member/morgantown-brewing-co" style="text-decoration: none; color: inherit;">
      <h1 class="member">{{member.name}}</h1>
      <p class="description" ng-bind-html="topStory.body"></p>
    </a>
  </div>

  <div class="current-member-container">
    <div class="current-story">
      <a href="#/member/morgantown-brewing-co" style="text-decoration: none;">
        <img class="profile" ng-src="{{member.icon}}" width="55px">
        <p class="hours"><span class="status">Open Now</span> {{member.hours['monday']}}</p>
        <p class="tags"><a ng-repeat="tag in member.hashtags">{{tag}} </a></p>
      </a>
    </div>
  </div>

</div>



<section class="categories">
  <a class="selected">All</a>
  <a>Food & Drink</a>
  <a>Nightlife</a>
  <a>More...</a>
</section>

<section class="stories" ng-repeat="story in stories">

  <article>
    <img class="profile" ng-src="{{story.image}}" width="40px">
    <h1 class="member">{{story.author}}</h1>
    <p class="content" ng-bind-html="story.body"></p>
    <div class="details">{{story.created | date:'h:mm a • d MMM y'}} <a style="float:right;" ng-href="{{story.sourceUrl}}">Source</a></div>
  </article>

</section>
