<google-map
    center="map.config.center"
    zoom="map.config.zoom"
    draggable='false'
    zoomable="false"
    options="map.config.options"
    refresh="map.refresh">



  <marker coords="map.config.center" icon="'/images/location.png'" idKey="1">
  </marker>

</google-map>

<div class="current-story-container">
  <div class="current-story">
    <a href="#/member/morgantown-brewing-co" style="text-decoration: none;">
      <img class="profile"  src="http://placehold.it/55x55">

      <h1 class="member">MorgantownBrewingCo</h1>
      <p class="hours"><span class="status">Open Now</span> 11am &mdash; 2pm</p>
      <p class="tags"><a>#morgantown</a> <a>#goodbeer</a></p>
    </a>
  </div>
</div>

<section class="categories">
  <a ng-click="">All Categories <i class="glyphicon glyphicon-chevron-down"></i> </a>
</section>

<section class="stories">

  <article>
    <h1 class="member">MorgantownBrewingCo</h1>
    <p class="content">Fun at Mountaineer Brewfest in Wheeling! — at Wheeling Heritage Port <a href="http://fb.me/2UBb4mMJd">http://fb.me/2UBb4mMJd</a> </p>
    <p class="details">16 Aug 2014</p>
  </article>

  <article>
    <h1 class="member">Gibbies Pub & Eatery</h1>
    <p class="content">I have exactly 3 words for you: SOUL MINERS SATURDAY!!!!!!</p>
    <p class="details">16 Aug 2014</p>
  </article>

  <article>
    <h1 class="member">Gibbies Pub & Eatery</h1>
    <p class="content">Rails and Ales Festival in Huntington! Cheers!</p>
    <p class="details">16 Aug 2014</p>
  </article>

</section>
