<div class="member">
<div class="current-story">
  <img class="profile"  src="http://placehold.it/55x55">

  <h1 class="member">{{member.name}}</h1>
  <p class="hours"><span class="status">Open Now</span> 11am &mdash; 2pm</p>
  <p class="tags"><a>#morgantown</a> <a>#goodbeer</a></p>
</div>


<div class="member-actions">
  <a>Website</a>
  <a>Directions</a>
  <a>More Like This</a>
</div>

<section class="stories">


    <article ng-repeat="story in stories" ng-click="selectStory($index)" ng-class="{'expanded':story.expanded}">
      <img class="profile" ng-src="{{story.image}}" width="40px">
      <h1 class="member">{{story.author}}</h1>
      <p class="content" ng-bind-html="story.body"></p>
      <div class="details">{{story.created | date:'h:mm a • d MMM y'}} <a style="float:right;" ng-href="{{story.sourceUrl}}">Source</a></div>
    </article>


</section>
</div>