<div class="member">
<div class="current-story">
  <img class="profile"  src="http://placehold.it/55x55">

  <h1 class="member">MorgantownBrewingCo</h1>
  <p class="hours"><span class="status">Open Now</span> 11am &mdash; 2pm</p>
  <p class="tags"><a>#morgantown</a> <a>#goodbeer</a></p>
</div>

<section class="stories">

  <article>
    <h1 class="member">MorgantownBrewingCo</h1>
    <p class="content">Fun at Mountaineer Brewfest in Wheeling! — at Wheeling Heritage Port <a href="http://fb.me/2UBb4mMJd">http://fb.me/2UBb4mMJd</a> </p>
    <p class="details">18 Aug 2014</p>
  </article>

  <article>
    <h1 class="member">MorgantownBrewingCo</h1>
    <p class="content">NEW ON TAP! Two Fantastic brews! Our Cherry Blonde and much anticipated Oktoberfest! Enjoy a pint or two today! Cheers!</p>
    <p class="details">16 Aug 2014</p>
  </article>

  <article>
    <h1 class="member">MorgantownBrewingCo</h1>
    <p class="content">Happy Friday everyone! Dinner music with Billy Matheny tonight 6-9.</p>
    <p class="details">15 Aug 2014</p>
  </article>

</section>
</div>